<html ng-app="countryApp">
<head>
	<meta charset="utf-8">
	<title>Angular.js JSON Fetching Example</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="../js/vendor/angular.min.js"></script>
	<script type="text/javascript">
		var countryApp = angular.module('countryApp', []);
		countryApp.controller('CountryCtrl', function ($scope, $http){
			$http.get('countries.json').success(function(data) {
			  $scope.countries = data;
			});
		});
	</script>
</head>

<body ng-controller="CountryCtrl">
	<h2>Angular.js JSON Fetching Example</h2>
	<table>
		<tr>
			<th>Code</th>
			<th>Country</th>
			<th>Population</th>
		</tr>
		<tr ng-repeat="country in countries | orderBy: 'code' ">
			<td>{{country.code}}</td>
			<td>{{country.name}}</td>
			<td>{{country.population}}</td>
		</tr>
	</table>
</body>
</html>